body{
    margin: 0;
    font-family: "Pilo Thin", "sans-serif";
    background-color: #F2F2F2;
}

.page-banner {
    background-color: #002191;
    position: fixed;
    width: 100%;
    height: 18%;
}

#alpacaLogo {
    float: left;
    width: 5%;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 5%;
}

#website_name {
    font-family: "Bradley Hand ITC", sans-serif;
    font-size: 250%;
    color: #ffffff;
}

.page-sidebar {
    float: left;
    margin-top: 8.45%;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    background-color: #FFFFFF;
    width: 12%;
}

#main-image-text-container {
    position:absolute;
    top: 32%;
    left: 15%;
    right: 5%;
    padding: 0;
    margin: 0;
}

#main-image {
    float: left;
    width: 45%;
    object-fit: cover;
    margin-right: 2%;
}

#slogan {
    font-family: "Bradley Hand ITC", sans-serif;
    font-weight: lighter;
    font-style: italic;
}

#main-scroll-container {
    position: absolute;
    top: 92%;
    left: 48%;
    text-align: center;
}

#scroll-text {
    margin: 0;
}




