*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Calibri Light", "sans-serif";
    background-color: #F2F2F2;
}

.main-header{
    background-color: #002191;
    padding-bottom: 185px;
    position: relative;
}

#alpacaLogo{
    float: left;
    margin: 10px 0px 0px 10px;
    width: 150px;
    padding-left: 25px;
}

#art-hanne {
    float: right;
    width: 185px;
    margin-right: 5%;
}

.main-nav{
    float: left;
    margin: 0px 0px -40px 40px;
}

.main-header h1{
    font-family: "Bradley Hand ITC", sans-serif;
    font-size: 400%;
    color: #ffffff;
}

.page-sidebar{
    z-index: 1;
    float: left;
    width: 200px;
    height: 83vh;
    position: relative;
    background-color: #FFFFFF;
}

.dropdown, .home-button{
    padding-right: 10px;
    overflow: hidden;
    border-bottom: 2px solid #002191;
}

.icon{
    width: 70px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
}

.sidebar-nav a{
    float: right;
    color: #002191;
    cursor: pointer;
    font-size: 140%;
    padding-right: 5px;
    font-weight: bolder;
    padding-bottom: 20px;
    text-decoration: none;
    font-family: "Pilo Thin", "sans-serif";
}

.dropdown-button{
    border: none;
    float: right;
    display: block;
    color: #002191;
    font-size: 150%;
    background: none;
    padding-top: 25px;
    font-weight: bolder;
    text-decoration: none;
    font-family: "Pilo Thin", "sans-serif";
}

#homeButton {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: none;
}

.sidebar-nav a:hover, .dropdown-button:hover{
    color: silver;
    background: none;
}


.dropdown-links{
    display: none;
    font-size: 70%;
}

.dropdown:hover .dropdown-links{
    display: contents;
}

#image-text-container {
    position: relative;
    height: 83vh;
}

#main-text-container, #main-image-container, #main-scroll-container {
    margin-top: 2%;
    object-fit: cover;
    display: block;
    position: relative;
}

#main-image-container {
    left: 4%;
    float: left;
    width: 35%;
}

#main-image {
    display: block;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

#main-text-container {
    margin-top: 1%;
    left: -9%;
    float: right;
    width: 38%;
}

#naam {
    margin-top: 5%;
    font-family: "Pilo Thin", "sans-serif";
}

#slogan {
    margin-top: 2%;
    font-family: "Pilo Thin", "sans-serif";
    color: black;
    font-weight: bold;
    font-style: italic;
}

#main-tekst {
    margin-top: 2%;
    font-family: "Calibri Light", sans-serif;
    font-size: 20px;
}

h2 {
    font-family: "Pilo Thin", "sans-serif";
    font-weight: bolder;
}

#main-scroll-container {
    top: 86%;
    text-align: center;
}

#scroll-text {
    margin: 0;
    font-family: "Pilo Thin", "sans-serif";
    font-weight: bolder;
}

#content-container {
    z-index: 2;
    position: relative;
    top: 130%;
    height: 4100px;
}

#race-track-container {
    z-index: 3;
    float: left;
    width: 557px;
}

#car_container {
    z-index: 1;
    position: sticky;
    padding: 0;
    top: 45%;
    left: 3.6%;
    width: 12%;
}

#car-image, .images {
    width: 100%;
    display: block;
    object-fit: cover;
}

#content-text-container {
    position: absolute;
    top: 0;
    left: 27%;
    width: 71%;
}

h2 {
    color: #002191;
    width: 72%;
}

.tekst, #info-tekst {
    margin-top: 2%;
    font-family: "Calibri Light", sans-serif;
    font-size: 20px;
    float: left;
    width: 72%;
}

#uitleg-container {
    margin-top: 2%;
}

#congrats-container {
    position: absolute;
    top: 1050%;
}

#congrats-tekst {
    margin-top: 2%;
    font-family: "Calibri Light", sans-serif;
    font-size: 20px;
    width: 100%;
}

.image-container {
    width: 25%;
    float: right;
    display: block;
    object-fit: cover;
}

#mijn-huisdieren-container{
    position: absolute;
    top: 238%;
}

#mijn-oldtimer-container {
    position: absolute;
    top: 388%;
}

#mijn-studentenjob-container {
    position: absolute;
    top: 535%;
}

#mijn-collectie-container {
    position: absolute;
    top: 685%;
}

#mijn-muziek-container {
    position: absolute;
    top: 834%;
}


@media only screen and (max-width: 1024px) {

    .main-header h1{
        font-size: 350%;
    }

    .page-sidebar{
        float: left;
        width: 200px;
        height: 87vh;
        position: absolute;
        background-color: #FFFFFF;
    }

    #image-text-container {
        position: relative;
        height: 87vh;
    }

    #main-text-container {
        margin: 0 auto;
        float: right;
        clear: both;
        width: 62%;
    }

    #main-image-container {
        margin-top: 4%;
        margin-bottom: 2%;
        left: 32%;
        width: 50%;
    }

    #main-image {
        display: block;
        object-fit: cover;
        max-width: 100%;
        max-height: 100%;
    }

    #main-scroll-container {
        top: 95%;
        margin: 0 auto;
        width: 35%;
    }

    #scroll-text {
        display: block;
        object-fit: cover;
        width: 100%;
        margin: 0;
        font-family: "Pilo Thin", "sans-serif";
        font-weight: bolder;
    }

    #content-container {
        margin-top: 10%;
        height: 3500px;
    }

    #race-track-container {
        z-index: 3;
        float: left;
        height: 100%;
        width: 260px;
    }

    #race-track {
        width: 100%;
    }

    #car_container {
        z-index: 1;
        position: sticky;
        padding: 0;
        top: 45%;
        left: 4%;
        width: 12%;
    }

    .tekst {
        font-size: 20px;
    }

    #info-tekst {
        margin-top: 2%;
        font-family: "Calibri Light", sans-serif;
        font-size: 20px;
        float: left;
        width: 100%;
    }

    #mijn-huisdieren-container{
        position: absolute;
        top: 145%;
    }

    #huisdieren-image {
        margin-top: 46%;
    }

    #mijn-oldtimer-container {
        position: absolute;
        top: 278%;
    }

    #oldtimer-image {
        margin-top: 69%;
    }

    #mijn-studentenjob-container {
        position: absolute;
        top: 411%;
    }

    #studentenjob-image {
        margin-top: 27%;
    }

    #mijn-collectie-container {
        position: absolute;
        top: 543%;
    }

    #collectie-image {
        margin-top: 33%;
    }

    #mijn-muziek-container {
        position: absolute;
        top: 677%;
    }

    #muziek_image {
        margin-top: 42%;
    }

    .image-container {
        width: 25%;
        float: right;
        display: block;
        object-fit: cover;
    }

    #congrats-container {
        position: absolute;
        clear: both;
        left: -19%;
        top: 850%;
        width: 100%;
    }

    #congrats-tekst {
        float: none;
    }
}