/*margin en padding: top right bottom left*/

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    color: rgb(75,75,75);
    background-color: #FEFDF8;
    font-family: "Calibri Light", sans-serif;
}

.main-header{
    position: relative;
    padding-bottom: 50px;
    background-color: #CFBAF0;
}

#alpaca-logo{
    float: left;
    width: 150px;
    margin-top: 20px;
    margin-left: 10px;
    padding-left: 25px;
}
/*margin en padding: top right bottom left*/

.main-nav{
    padding-left: 200px;
}

.main-header h1{
    margin: 0;
    color: #ffffff;
    font-size: 400%;
    padding-top: 60px;
    font-family: "Bradley Hand ITC", sans-serif;
}

.main-header h2{
    top: 90px;
    float: left;
    color: #75757c;
    font-size: 300%;
    position: absolute;
    font-family: "Pilo Thin", "sans-serif";
}

.page-sidebar{
    float: left;
    width: 200px;
    height: 100%;
    position: absolute;
    background-color: #EBEBEB;
}

.dropdown, .home-button{
    overflow: hidden;
    padding-right: 10px;
    border-bottom: 2px solid #a29aa2;
}

.icon{
    width: 70px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
}

.sidebar-nav a{
    float: right;
    color: #75757c;
    cursor: pointer;
    font-size: 140%;
    padding-right: 5px;
    font-weight: bolder;
    padding-bottom: 20px;
    text-decoration: none;
    font-family: "Pilo Thin", "sans-serif";
}

.dropdown-button{
    border: none;
    float: right;
    display: block;
    color: #75757c;
    font-size: 150%;
    background: none;
    padding-top: 25px;
    font-weight: bolder;
    text-decoration: none;
    font-family: "Pilo Thin", "sans-serif";
}

.sidebar-nav a:hover, .dropdown-button:hover{
    color: #CFBAF0;
    background: none;
}

.dropdown-links{
    display: none;
    font-size: 70%;
}

.dropdown:hover .dropdown-links{
    display: contents;
}

.container{
    border: 2px solid #FEFDF8;
    margin: 80px 100px 450px 300px;
}


.main-image {
    width: 100%;
    display: block;
    object-fit: cover;
}

.profiel-foto{
    width: 35%;
    float: left;
}

.profiel-info{
    width: 65%;
    float: left;
    padding: 50px;
}

.naam, .slogan {
    font-weight: bolder;
    font-family: "Pilo Thin", "sans-serif";
}

.slogan {
    font-style: italic;
}

.main-tekst {
    font-size: 20px;
}

/* Dashboard */

.container-mini{
    border: 2px solid #FEFDF8;
    margin: 80px 100px 100px 300px;
}

.opsomming{
    width: 30%;
    float: left;
    font-family: "Pilo Thin", "sans-serif";
}

.icon-links{
    float: right;
}

.ervaring-blok, .ervaring-blok-midden{
    width: 30%;
    float: left;
}

.ervaring-blok-midden{
    margin-left: 5%;
    margin-right: 5%;
}

.video{
    border-radius: 25px 25px 0px 0px;
    border: 2px solid gray;
    margin-bottom: -1%;
    border-bottom: 0;
}

.ervaring-blok-info{
    border-radius: 0px 0px 25px 25px;
    background-color: #EBEBEB;
    border: 2px solid gray;
    border-top: 0;
    padding: 20px;
}

.ervaring-blok-info h1{
    text-decoration: underline #CFBAF0;
}

.opsomming-blok-info{
    padding: 10px;
    margin-top: -20px;
    border-radius: 25px;
    border: 2px solid gray;
    background-color: #EBEBEB;
}

@media only screen and (max-width: 1024px) {

    /* Home */
    .container {
        margin: 40px 30px 450px 240px;
    }

    .profiel-foto {
        width: 50%;
    }

    #main-image-zeynep {
        padding-top: 55%;
    }

    #main-image-hanne {
        padding-top: 35%;
    }

    .profiel-info {
        width: 50%;
        padding: 10px 25px;
    }

    /* Dashboard */

    #opsomming-container-mini {
        margin: 30px 30px 100px 250px;
    }

    #specialisatie-container-mini {
        margin: 30px 30px 100px 250px;
    }

    #specialisatie-info-blok {
        margin: 0px 30px 300px 10px;
        width: 100%;

    }

    #ervaring-midden-blok-hanne {
        padding-top: 13px;
    }

    #ervaring-rechts-blok-hanne {
        padding-bottom: 39px;
    }
}

/* Curriculum Vitea */

.container-cv{
    margin: 80px 100px 450px 300px;
}

.cv-blok, .cv-blok-midden{
    width: 30%;
    float: left;
}

.cv-blok-info{
    float: left;
    width: 100%;
    padding: 10px;
    border-radius: 25px;
    border: 2px solid #CFBAF0;
    background-color: #EBEBEB;
    font-family: "Pilo Thin", "sans-serif";
}

.vaardigheden{
    width: 70%;
    float: left;
}

.vaardigheden-maten{
    width: 30%;
    float: right;
}

.vaardigheden-maten h2{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 25px;
    background-color: #CFBAF0;
}

.cv-blok-midden{
    margin-left: 5%;
    margin-right: 5%;
}

.cv-blok-midden img{
    width: 100%;
}

.cv-blok-info p{
    padding: 5px;
    margin-top: -17px;
    border-radius: 5px;
    background-color: #CFBAF0;
}

/* processbar zeynep */
.bar-nederlands-z{
    width: 80%;
}

.bar-Engels-z{
    width: 70%;
}

.bar-Turks-z{
    width: 60%;
}

.bar-Frans-z{
    width: 20%;
}

/* processbar hanne */
.bar-nederlands-z{
    width: 80%;
}

.bar-Engels-z{
    width: 70%;
}

.bar-Turks-z{
    width: 40%;
}

.bar-Frans-z{
    width: 20%;
}

.cv-blok-opleiding{
    float: left;
    width: 100%;
    border-radius: 25px;
    border: 2px solid #CFBAF0;
    background-color: #EBEBEB;
    padding: 10px 10px 10px 20px;
    font-family: "Pilo Thin", "sans-serif";
}

.opleiding{
    width: 70%;
    float: left;
    border-bottom: 2px solid #CFBAF0;
}

.opleiding-jaar{
    width: 30%;
    float: right;
    border-bottom: 2px solid #CFBAF0;
}

.cv-blok-opleiding p{
    font-size: 140%;
    padding-top: 70px;
}



