body{
    margin: 0;
    font-family: sans-serif;
    color: rgb(75,75,75);
    background-color: #FEFDF8;
}

.main-header{
    background-color: #CFBAF0;
    padding-bottom: 10rem ;
    position: relative;
}

#alpacaLogo{
    float: left;
    margin: 20px;
    width: 90px;
}

.main-nav{
    float: left;
    margin-top: 50px;
    margin-left: 20px;
}

.main-header a{
    font-family: "Bradley Hand ITC", sans-serif;
    font-size: 290%;
    color: #ffffff;
}

.page-sidebar{
    float: left;
    width: 150px;
    height: 1000px;
    background-color: #EBEBEB;
}
