*{
    box-sizing: border-box;
}

body{
    margin: 0;
    color: rgb(75,75,75);
    font-family: sans-serif;
    background-color: #FEFDF8;
}

.main-header{
    position: relative;
    padding-bottom: 170px;
    background-color: #CFBAF0;
}

#alpacaLogo{
    float: left;
    margin: 10px 0px 0px 10px;
    width: 150px;
    padding-left: 25px;
}

.main-nav{
    /*border: 2px solid #a29aa2;*/
    float: left;
    margin: 0px 0px -40px 40px;
}

.main-header h1{
    color: #ffffff;
    font-size: 400%;
    font-family: "Bradley Hand ITC", sans-serif;
}

.page-sidebar{
    z-index: 1;
    float: left;
    width: 200px;
    height: 100vh;
    position: relative;
    background-color: #EBEBEB;
    border: 2px solid #a29aa2;
}

.dropdown, .home-button{
    padding: 10px;
    overflow: hidden;
    border-bottom: 2px solid #a29aa2;
}

.icon{
    width: 50px;
    padding-top: 10px;
}

.sidebar-nav a{
    float: right;
    color: #75757c;
    cursor: pointer;
    font-size: 140%;
    padding-top: 20px;
    padding-right: 5px;
    font-weight: bolder;
    text-decoration: none;
    font-family: "Pilo Thin", "sans-serif";
}

.dropdown-button{
    border: none;
    float: right;
    display: block;
    color: #75757c;
    cursor: pointer;
    font-size: 150%;
    background: none;
    padding-top: 20px;
    font-weight: bolder;
    text-decoration: none;
    font-family: "Pilo Thin", "sans-serif";
}

.sidebar-nav a:hover, .dropdown-button:hover{
    color: #CFBAF0;
    background: none;
    /*border-bottom: 2px solid #a29aa2;*/
}

.dropdown-links{
    display: none;
    font-size: 70%;
}

.dropdown:hover .dropdown-links{
    display: contents;
}

/*margin en padding: top right bottom left*/
.container{
    margin: 100px 100px 400px 300px;
}

.main-image {
    width: 100%;
    object-fit: cover;
    display: block;
}

.profiel-foto{
    width: 25%;
    float: left;
    border: 2px solid mediumpurple;
}

.profiel-info{
    width: 75%;
    float: left;
    padding: 100px;
    border: 2px solid purple;
}